.git-hub-issues {
    text-align: left;
    padding: 0;
    li {
        font-size: 20px;
        background-color: rgba(128,114,167,0.2);
        margin: 2px 0;
        border-radius: 5px;
        a {
            color: white;
            font-size: 17px;
            &:hover {
                color: cornflowerblue;
            }
        }
        span{
            font-size: 13px;
            position: relative;
            top: -4px;
            padding-left: 4px;
        }
    }
}
