.issue-overview {
    a {
        margin: 0;
    }
    display: inline;
    ul {
        padding: 0;
        li {
            background-color: rgba(218, 207, 220, 0.1);
            border-radius: 5px;
            margin-bottom: 2px;
            font-size: 15px;
            padding: 4px 0;
            span {
                color: bisque;
            }
        }
    }
}
