/* TODO: 
 - Create a webpack Loader for SCSS Modules to use {styles.[class]} at component level
 - Folder structure for variables
 - Add clx for styles switch based on application/component state 
 */

@import "./styles/normalize";

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(200.96deg, #fedc2a -29.09%, #dd5789 51.77%, #7a2c9e 129.35%);
  font-family: sans-serif;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
